h1{
    text-align: center;
    font: weight 10000%;
    margin: 60px;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    
}


nav ul li a {
    text-decoration: none;
    color: rgb(247, 1, 13);

}

article img {
    width: 80%;
    margin-left: 50%;
}
/*#firstItem {
    background-color: gray;
}
.listItems {
    background-color: gray;
}

*/
p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #700c3e;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    color: #700c3e;
    font-size: 35px;
}

h3 {
    color: #700c3e;
    font-size: 35px;
}

ol {
  font-weight: bold;  
}

ul {
    font-weight: bold;  
}